<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" id="myFile" name="fileName" multiple>
    <button>Submit</button>
  </form>

  <h1>Files:</h1>
  <% if (fileContent.length>0) {%>
  <% fileContent.forEach(content => { %>
  <form action="/download" method="POST">
    <% Object.keys(content).forEach(key => { %>
    <p><%= key %>
      <% content[key].forEach((file,index) => { %>
      <input type="hidden" name="<%= key %>[<%= index %>][file_id]" value="<%= file.file_id %>">
      <input type="hidden" name="<%= key %>[<%= index %>][file_name]" value="<%= file.file_name %>">
      <% }) %>
    </p>
    <% }) %>

    <button type="submit">Download</button>
  </form>
  <%}) %>
  <% } %>

</body>

</html>